@import url('themes.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body, html{
    background: transparent;
    font-size: 16px;
    overflow: hidden;
}

button{
    cursor: pointer;
}

.background {
    background: var(--bg); 
    border-radius: 20px;
    border: #6F5846 2.5px solid;
    width: 100vw;
    height: 100vh;
    transition: background 0.5s ease; 
}

.titleBar{
    -webkit-app-region: drag;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    padding: 8px 15px;
}

.titleBar button{
    -webkit-app-region: no-drag;
}

.buttons, .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_changeTheme{  
    background: transparent;
    border: none;
    color: var(--title-color);
    transition: transform 0.1s;
    margin-right: 7px;
}

.btn_exit{
    margin-left: 3px;
}

.btn_minimize, .btn_exit {
    color: (var(--title-color)); 
    background: transparent;
    border: none;
    transition: transform 0.1s;
}

.btn_minimize:hover, .btn_exit:hover, .btn_music:hover, .btn_changeTheme:hover {
    color: #A95A52; 
    transform: scale(1.1); 
}

.container {
    position: relative;
    background-image: url('../img/background_default.svg');
    background-color: var(--container); 
    background-size: 40px 40px;
    margin: 0 10px;
    border-radius: 0 0 10px 10px;
    border: #6F5846 4px solid;
    color: var(--display-color);
    transition: background-color 0.5s ease;
}
